.background{
    width: 430px;
    height: 790px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 70%;
}
form{
    height: 790px;
    width: 400px;
    background-color: #ffffff21;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #ffffff1a;
    box-shadow: 0 0 40px #08071099;
    padding: 50px 35px;
}
